/* --------- COLOR THEME --------- */
:root {
    --aqua: #2BB6C4;
    --coral: #FF6F61;
    --sand: #F4D9A0;
    --dark: #1F2933;
    --light: #F6F8FA;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light);
    color: var(--dark);
}

/* --------- HEADER --------- */

header {
    background: white;
    border-bottom: 3px solid var(--aqua);
    padding-bottom: 1rem;
}

/* top area with H1 + logo */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* heading text */
.title-box{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: middle;
    width: 100%;

}
.site-title{
    display: flex;
    gap: 0.1rem;
    align-items: middle;
    justify-content: center;
    width: 100%;
    color: var(--aqua);

}
.site-title h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--aqua);
    width: 90%;
    justify-items: middle;

    
}

/* JPG logo image */
.logo-img {
    width: 10%;/* adjust to your actual image */
    height: auto;
    border-radius: 6px;
    object-fit: contain;
}

/* --------- NAVIGATION --------- */

nav {
    padding: 0.5rem 2rem;
    display: flex;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    transition: 0.2s;
}

.nav-logo {
    width: auto;
    height: auto;
}

.nav-links a:hover {
    color: var(--aqua);
}

/* --------- MAIN --------- */

main {
    padding: 2rem;
}

/* --------- FOOTER --------- */

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    background: white;
    border-top: 3px solid var(--aqua);
}

footer a {
    text-decoration: none;
    color: var(--aqua);
    font-weight: bold;
}

footer a:hover {
    color: var(--coral);
}

/* --------- RESPONSIVE --------- */

@media (max-width: 768px) {

    .header-top {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .logo-img {
        width: 90px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}
